html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}

.top {
  min-height: 550px;
  border: 2px solid black;
}

.second {
  min-height: 550px;
  border: 2px solid black;
}

.third {
  min-height: 500px;
  border: 2px solid black;
}

.bottom {
  min-height: 450px;
  border: 2px solid black;
}

.footer {
  min-height: 75px;
  border: 2px solid black;
}

.header{
    min-height: 68px;
    padding: 0 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}