html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.top {
  min-height: 550px;
  border: 2px solid black;
}

.second {
  min-height: 550px;
  border: 2px solid black;
}

.third {
  min-height: 500px;
  border: 2px solid black;
}

.bottom {
  min-height: 450px;
  border: 2px solid black;
}

.footer {
  min-height: 75px;
  border: 2px solid black;
}
