html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 22px;
}

.top {
  min-height: 550px;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 68px;
  padding: 0 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  padding: 0 220px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid burlywood;
}

.img {
  min-width: 550px;
  min-height: 250px;
  border: 2px solid gray;
}

.second {
  min-height: 550px;
  text-align: center;
  padding: 50px 0px;
}

.info {
  margin-bottom: 50px;
}

.ex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.refimg {
  max-width: 200px;
  border: 2px solid burlywood;
}

.third {
  min-height: 500px;
  padding: 0 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qoute {
  border: 2px solid burlywood;
}

.qoute.name {
  align-self: flex-end;
}

.bottom {
  min-height: 450px;
  padding: 0 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  flex: 1;
  display: flex;
  border: 2px solid burlywood;
  padding: 110px;
  justify-content: space-between;
}

.footer {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
